body {
    background-color: #f8f9fa;
}

h2 {
    margin-bottom: 20px;
}

.card {
    margin-bottom: 30px;
}

.navbar {
    background-color: #ff0066;
}

.nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #e2e6ea !important;
}

.footer {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}
